.angka {
  text-align: center;
}

.conter {
  display: flex;
  justify-content: center;
}

.tambah {
  background-color: red;
  border-radius: 5px;
  border: none;
  font-weight: bold;
  padding: 10px;
  margin: 10px;
}

.kurang {
  background-color: green;
  border-radius: 5px;
  border: none;
  font-weight: bold;
  padding: 10px;
  margin: 10px;
}
